﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    string[] myArray = { "value01", "value02", "value03" };
<div id="content">
   
    @Html.React("User", new { User = myArray })

    <div id='bodyContent' class="row main-content">  
        <div itemscope itemtype="http://schema.org/Organization" class="small-12 medium-12 large-10 no-padding-right-for-small columns ipad-padding center-margin">
            <div class="small-12 column gray-panel">
                <div id="content"></div>
            </div>
        </div>
        <a class="exit-off-canvas"></a>
    </div>
</div>

@Html.ReactInitJavaScript()
    }